:root {
  --text-color: #172554;
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --size-toggle: 28px;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #374151;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  gap: 10px;
  width: 100%;
  max-width: 700px;
  padding: 20px 0;
}

input {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid #9ca3af;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #1d4ed8;
  box-shadow: 0 4px 8px rgba(0, 177, 226, 0.2);
}

button:active {
  transform: translateY(2px);
}

.jobs-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 0.5rem;
  background-color: #e0f2fe;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.off {
  background-color: #d1d5db;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch {
  position: relative;
  display: inline-block;
  height: var(--size-toggle);
  aspect-ratio: 60/34;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6b7280;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--size-toggle) - 8px);
  width: calc(var(--size-toggle) - 8px);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2563eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2563eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--size-toggle) - 8px));
  -ms-transform: translateX(calc(var(--size-toggle) - 8px));
  transform: translateX(calc(var(--size-toggle) - 8px));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--size-toggle);
}

.slider.round:before {
  border-radius: 50%;
}

.time-comparison {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.time-comparison-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 0.5rem;
  background-color: #d1d5db;
  color: #030712;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.icon-js {
  background-color: black;
  height: fit-content;
  width: fit-content;
}

.icon-size {
  height: 50px;
  width: 50px;
}

.problem-instance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.jobs-input {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
